<div class="container-fluid"  style="margin: 50px 0;">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-3">
            <img src="<%= asset_path 'chart.png' %>" alt="chart" class="img-responsive center-box" style="max-width: 120px;">
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 text-justify lead">
            Bienvenido al área de reportes, aquí puedes ver los diferentes reportes de los ingresos y egresos.
        </div>
   	</div>

	<br/><br/><br/><br/> <!-- saltos de linea -->

	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<%= form_tag("/search", method: "get") do %>
					<%= label_tag(:q, "Filtrar por categoria:") %>
 					<%= text_field_tag(:q) %>
 					<%= submit_tag("Buscar") %>
				<% end %>
     			
     			<%= form_tag("/search", method: "get") do %>
					<%= label_tag(:q, "Filtrar por responsable:") %>
					<%= text_field_tag(:q) %>
					<%= submit_tag("Buscar") %>
				<% end %>
    
 				<%= form_tag("/search", method: "get") do %>
					<%= label_tag(:q, "Filtrar por fecha:") %>
					<%= date_field_tag(:q, :user) %>
					<%= submit_tag("Buscar") %>
				<% end %>
			</div>
		</div>
	</div>

</div>