<!DOCTYPE html>
<html>
  <head>
    <title>Proyectoweb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  </head>



  <body>

    <header>
      <nav class="be-blue white large-padding sub">
        <ul class="no-list row center-xs middle-xs">
          <% if user_signed_in? %>
            <li class="col-md">
            <%= link_to "Inicio", root_path %>
          </li>
          <li class="col-md">
            <%= link_to "Contacto", root_path %>
          </li>
            <li class="col-md">
              <%= link_to "Cerrar sesion", destroy_user_session_path, method: :delete %>
            </li>
          <%else%>
            <li class="col-md">
              <%= link_to "Inicia sesion", new_user_session_path %>
            </li>
            <li class="col-md">
              <%= link_to "Crear cuenta", new_user_registration_path %>
            </li>
          <%end%>
          
        </ul>
      </nav>
    </header>

    <!-- navLateral -->
  <section class="full-width navLateral">
    <div class="full-width navLateral-body">
      <div class="full-width navLateral-body-logo text-center tittles be-blue white large-padding sub">
        Ice Company
      </div>
      <nav class="full-width be-blue white large-padding sub">
        <ul class="full-width list-unstyle menu-principal">
          <li class="col-md">
            <%= link_to "Inicio", root_path %>
          </li>
          <li class='full-width divider-menu-h'></li>
        </ul>
      </nav>
    </div>
  </section>

    <%= yield %>
  </body>
</html>
